<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

   <nav>

    <h2>Vaishali</h2>

    <ul>

        <li><a href="#">Home</a></li>

        <li><a href="#about">About</a></li>

        <li><a href="#skills">Skills</a></li>

        <li><a href="#projects">Projects</a></li>

        <li><a href="#contact">Contact</a></li>

    </ul>

</nav>

   <section class="hero">

    <div class="hero-left">

        <p class="small-text">WELCOME TO MY PORTFOLIO</p>

        <h1>
            Hi, I'm <span>Vaishali</span><br>
            Full Stack Developer
        </h1>

        <p class="hero-para">
            I build modern, responsive and dynamic web
            applications using Django, MySQL and modern
            frontend technologies.
        </p>

        <div class="hero-buttons">
            <a href="#projects">
            <button>View Projects</button>
            </a>
            <a href="#contact">
            <button class="btn2">Contact Me</button>
            </a>
        </div>
        <a href="{% static 'resume.pdf' %}" download>
            <button class="resume-btn">Download Resume</button>
        </a>

    </div>

    <div class="hero-right">

        <div class="circle"></div>
        <img src="{% static 'images/profile.png' %}" alt="profile">

    </div>

</section>
<section class="about" id="about">

    <h2>About Me</h2>

    <p>
        I am a passionate and growth-oriented developer who
        enjoys transforming innovative ideas into impactful
        digital experiences. I have a strong interest in
        creating scalable and efficient solutions while
        continuously exploring modern technologies and
        industry trends. I am highly driven by creativity,
        problem-solving, and the process of building projects
        that deliver both functionality and meaningful user
        experiences. With a constant learning mindset and
        dedication toward improvement, I aim to contribute
        to real-world technological advancements through
        innovation, adaptability, and practical implementation.
    </p>

</section>
<section class="skills" id="skills">

    <h2>My Skills</h2>

    <div class="skill-box">

        <div class="card">
            <h3>Frontend</h3>
            <p>HTML, CSS, JavaScript,React</p>
        </div>

        <div class="card">
            <h3>Backend</h3>
            <p>Django, Python, PHP, Flask, JSP , Servlet, C , C++</p>
        </div>

        <div class="card">
            <h3>Database</h3>
            <p>MySQL, Sqllite , MongoDB </p>
        </div>

         <div class="card">
            <h3>AI & Machine Learning</h3>
            <p>Machine Learning,
            Computer Vision,
            NLP,
            API Integration </p>
        </div>

    </div>

</section>
<section class="projects" id="projects">

    <h2>My Projects</h2>

    <div class="project-box">
<div class="project-card">
    <h3>WorkFlex</h3>

    <p>
        WorkFlex is a full-stack freelance hiring platform
        developed using Django and MySQL that connects
        clients with both technical and non-technical
        professionals. Users can create and manage
        professional portfolios showcasing their skills,
        services, and experience. Clients can explore
        freelancer profiles, compare portfolios, and hire
        suitable candidates based on their requirements.
        The platform also includes secure payment gateway
        integration for smooth online transactions and a
        user-friendly responsive interface.
    </p>
</div>

        <div class="project-card">
    <h3>AI Examiner</h3>

    <p>
        AI Examiner is an AI-powered answer evaluation
        system developed using Django, MySQL, and Gemini API.
        The platform allows teachers to securely log in and
        upload students’ answer sheets for automated evaluation.
        Using AI-based analysis through Gemini API integration,
        the system checks answers, evaluates performance, and
        generates scores automatically. The project was designed
        to reduce manual checking effort, improve evaluation
        efficiency, and provide fast and accurate result analysis
        through an intelligent automated workflow.
    </p>
</div>

       <div class="project-card">
    <h3>Car Rental System</h3>

    <p>
        Car Rental System is a desktop-based application
        developed using JavaFX for managing car rental
        services efficiently. The system allows users to
        browse available cars, select rental options, and
        book vehicles based on their requirements. It also
        includes insurance features such as Premium and
        Normal insurance plans for enhanced customer safety
        and flexibility. A payment interface was designed
        to simulate the booking and payment process, providing
        a complete end-to-end car rental experience with a
        user-friendly graphical interface.
    </p>
</div>

    </div>

</section>
<section class="contact" id="contact">

    <h2>Contact Me</h2>

    <form method="POST">

        {% csrf_token %}

        <input type="text" name="name" placeholder="Your Name">

        <input type="email" name="email" placeholder="Your Email">

        <textarea name="message" placeholder="Your Message"></textarea>

        <button type="submit">Send Message</button>

    </form>

</section>
<footer>

    <h2>Vaishali</h2>

    <p class="footer-text">
        Building modern digital experiences with creativity,
        innovation, and problem-solving.
    </p>

    <div class="social-links">

        <a href="https://www.linkedin.com/in/vaishali-chavda-907099310?utm_source=share_via&utm_content=profile&utm_medium=member_android">LinkedIn</a>

        <a href="https://github.com/vaishaliahir">GitHub</a>

        <a href="">Instagram</a>

    </div>

    <div class="line"></div>

    <p class="copyright">
        © 2026 Vaishali Portfolio • All Rights Reserved
    </p>

</footer>

</body>
</html>